.footer-links {
    background: #f4f5f7;
    padding: 40px 0 20px;
    border-top: 3px solid #dac27a;
}

.footer-title {
    font-weight: bold;
    color: #333;
}

.footer-description {
    font-size: 0.9rem;
    color: #666;
}

/* Bloc des liens centrés */
.footer-nav-center {
    text-align: center;
    margin-top: 10px;
}

/* Liens sur une seule ligne */
.footer-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* pour être centré dans footer-nav-center */
}

.footer-inline li {
    display: inline-block;
    margin: 0 12px;
}

.footer-inline a {
    text-decoration: none;
    color: #666;
}

.footer-inline a:hover {
    text-decoration: underline;
    color: #dac27a;
}

.footer-separator {
    margin: 20px auto;
    width: 70%;
}

.footer-copy {
    font-size: 0.9rem;
    color: #666;
}
